.zoom-effect {
    overflow: hidden;
}
.zoom-effect img { 
    transition: transform .25s ease;
}
.zoom-effect:hover img {
    transform: scale(1.112);
}
.disabled img {
    opacity: 0.35;
}
.quiz-choice {
    cursor: pointer;
}
.card-body {
    text-align: center;
    /*Added the padding and font-size for clarity and usability YwY*/
    padding: 1.25rem;
    box-sizing: border-box;
    font-size:16px;
}
ul {
    list-style: none;
}
.result {
    color: #fff;
}
.result a{
   color: #fff;
}
.resultComplete {
   background:  #95200f; 
}
h1 {
    text-align: center;
    font-weight: bolder;
}
.bg-light::after {
    background-color: #000;
}
/* - YwY 
Removed the .top-bar because it moves behind the content and messes up the view and style
.top-bar-visual {
    background-color: #000;
    color: #fff;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    display: none;
}
*/
button{
    margin:auto;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
body{
    
    display: block;/* - YwY Changed from flex to literally anything else, because flex ruins the css*/
    margin: 0;
    padding: 0;
}